#mainContainer {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(179, 154, 230); */
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}
#timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(179, 154, 230);
    margin: 8px;
    padding: 10px;
    border-radius: 10px; 
    border: 5px solid indigo;
    width: 90%;    
}

h1{
    margin-bottom: 2px;
    
}

h3{
    margin-top: 1px;
    color: indigo;
}

button{
    background-color: lightgray;
    padding: 5px 10px;
}

#pomoTimer{
    font-size: 80px;
    margin-bottom: 20px;
}

#currentPhase{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;

}

.startButton{
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    align-items: center;
}

.startButton:hover{
    background-color: darkgray;
}


#buttonRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.timerButton{
    width: 100px;
    height: 35px;
    margin: 5px;
}

.timerButton:hover{
    background-color: darkgray;
}

#taskInputField{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 20px;
    padding: 5px 3px;
    width: 80%;
}

#taskInput{
    width: 80%
    
    
}

#addTaskButton{
    width: 20%;
    flex: end;
}

.taskListTitle{
    border-top: 2px double indigo ;
    border-bottom: 2px double indigo;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    padding: 3px;
}



#tasksToDoTable {
    width: 80%;
    margin-bottom: 20px;
}


.checkBox {
    width: 5%;
}

.icon {
   width: 5%;
}

.deleteIconImg, .editIconImg, .iconImg {
    height: 20px;
}

.task {
    width: 80%;
    text-align: left;
}

#bannerImage {
    width: 450px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    margin-top: 50px;
    align-items: center;
    border: 3px solid indigo;
}
